.App {
	overflow: hidden;
	height: 100vh;
}
.Header {
	/* display: grid; */
	/* grid-template-columns: 1fr 4fr; */
	/* grid-template-rows: 1fr; */
	display: flex;
	height: 100%;
	/* width: 100vw; */
}
.Nav {
	background-color: #fecd45;
	display: flex;
	width: 20%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.Main {
	color: #2568fb;
	background: rgb(228, 163, 231);
	/* background: radial-gradient(
		circle,
		rgba(228, 163, 231, 1) 0%,
		rgba(254, 219, 234, 1) 100%
	); */
	background: rgb(230, 181, 202);
	background: radial-gradient(
		circle,
		rgba(230, 181, 202, 1) 0%,
		rgba(208, 134, 212, 1) 96%
	);
	width: 80%;
	height: 100%;

	overflow-y: auto;
}
.Std {
	background-color: #fecd45;
}
.Std-btn {
	color: #dbdbdb;
	font-size: 1.4em;
	border-radius: 5%;
	width: 120px;
	padding: 5%;
	border-width: 2%;
	background-color: #2568fb;
	border-style: groove;
	border-color: #c0c0c0;
}
.Std-btn:hover {
	transition-duration: 300ms;
	background-color: #709dff;
	color: #36454f;
	cursor: pointer;
}
.Footer {
	display: flex;
	flex-direction: column;
	height: 10vh;
	background-color: #fecd45;
	color: #2568ff;
}
p:first-child {
	padding: 10px;
}
.Footer a,
.Footer p {
	text-align: center;
	background-color: #fecd45;
}
.Links-section {
	margin: 20px 0px;
}
.Links {
	font-size: 25px;
	text-align: left;
	margin: 1.5em 6em;
}
a {
	text-decoration: none;
	color: #2568fb;
}
a:hover {
	transition-duration: 300ms;
	color: #4f6594;
}
.Videos-section {
	margin: 1.5em 0px;
	font-size: 1.5em;
}
.Home {
	padding-top: 4em;
	display: flex;
	flex-direction: column;
	line-height: 100px;
	text-align: center;
}
.Home h1 {
	font-size: 2em;
}
.Home h2 {
	font-size: 4em;
}
.Home p {
	font-size: 1.3em;
	font-weight: 700;
}
._8th,
._9th,
._10th,
._11th,
._12th {
	margin-top: 2em;
	text-align: center;
}
.waterMark {
	background-image: url("../public/Images/2.png");
	background-repeat: no-repeat;
	height: inherit;
	width: inherit;
	position: fixed;
	z-index: -1;
	opacity: 0.25;
	background-position: center;
	background-size: cover;
}
@media (max-width: 768px) and (min-width: 481px) {
	.Home h2 {
		font-size: 3em;
	}
	.Header {
		flex-direction: column;
	}
	.Nav {
		flex-direction: row;
		width: 100%;
		height: 10%;
	}
	.Main {
		width: 100%;
		height: 90%;
	}
	.Footer {
		display: none;
	}
	.Std-btn {
		height: 3em;
		width: 4em;
		font-size: medium;
	}
	.Links {
		display: flex;
		font-size: 1.3em;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 480px) {
	.Home h1 {
		font-size: 1.5em;
	}
	.Home h2 {
		font-size: 2em;
	}
	.Home p {
		font-size: 1em;
		line-height: 3em;
	}
	.Header {
		flex-direction: column;
	}
	.Nav {
		flex-direction: row;
		width: 100%;
		height: 10%;
	}
	.Main {
		height: 90%;
		width: 100%;
		justify-content: space-around;
	}
	.Footer {
		display: none;
	}
	.Std-btn {
		height: 2em;
		width: 3.5em;
		font-size: small;
	}
	.Links {
		display: flex;
		font-size: 1.3em;
		align-items: center;
		justify-content: center;
		margin: 1.5em 4em;
	}
}
